<div>
  <article id="show_student">
    <img src="<%= @student.house().emblem() %>" alt="<%= @student.house().name() %> House Emblem">
    <div id="show_student">
      <p>ID: <%= @student.id() %></p>
      <p>First Name: <%= @student.first_name() %></p>
      <p>Second Name: <%= @student.second_name() %></p>
      <p>Age: <%= @student.age() %></p>
      <p>House: <%= @student.house().name() %></p>
    </div>
  </article>
</div>
